body {
    background-color: rgb(14, 14, 14);
}


.hello {
    color: rgb(243, 243, 228);
}

.tab {
    overflow: hidden;
    border: 1px solid rgb(215, 215, 198);
    background-color: rgb(243, 243, 228);
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(226, 226, 176);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(109, 131, 222);
  }

  .content {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .hero {
   
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin: 5vw;
  }

  .text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 243, 228);
    margin: 30px;
  }